*{font-family: Arial, Helvetica, sans-serif;}
header{
    background-color: #D0D0D0;
}
nav ul li{
    display: inline;
    list-style: none;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.area-navbar{
    display: flex;
    justify-content: flex-end;
}
.area-navbar button{
    color: white;
    background-color: #5CB85F;
    border-color: #5CB85F;
    border-radius: 2px;
    border-style: none;
    margin-left: 10px;
    padding: 5px;
}
.offcanvas-end{
    width: 50% !important;
}
.tombol-canvas{
    background-color: #F1F3FF!important;
    border: none !important;
}
#offcanvasRightLabel{
    padding: 20px;
}
.offcanvas-body a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px;
}
.offcanvas-body button{
    color: #f1f1f1;
    background-color: #5CB85F;
    border: 1px;
    border-radius: 2px;
    border-color: #5CB85F;
    margin: 20px;
    padding: 5px;
}
.area-heading button{
    color: white;
    background-color: #5CB85F;
    border-color: #5CB85F;
    border-radius: 2px;
    border-style: none;
    padding: 5px;
}
.area-heading{
    padding: 100px 0 0 0;
}
.area-img-car{
    padding: 100px 0 0 0;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.img-cewe{
    padding: 100px 0 0 0;
}
.teks-services{
    padding: 150px 20px 0 0;
}
.ceklis{
    padding: 0 20px 0 0;
}

.teks-why-us{
    padding: 150px 0 20px 5px;
    text-align: left;
}
.kelebihan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0;
}
.item{
    border: 1px solid #D0D0D0;
    width: 301px;
    height: 255px;
    border-radius: 8px;
    padding: 30px;
}
#testimonial{
    text-align: center; 
    padding-top: 100px;
}

.carousel-item{
    background-color: #F1F3FF;
    border: 1px;
    border-color: #F1F3FF;
    border-radius: 8px;
    padding-top: 20px;
}
.crsl-img{
    display: inline-flex;
}
.person-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate{
    padding-bottom: 20px;
    padding-top: 20px;
   
}
.btn-carousel {
    display: flex;
    justify-content: center;
}

.carousel-control {
    background: #5CB85F;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 5px 15px;
}
.tombol-crsl {
    width: 15px;
    height: 15px;
}
.sewa-mobil{
    background-color: #0D28A6;
    border: 1px #0D28A6;
    box-sizing: border-box;
    border-radius: 8px;
    border-style: none;
    padding: 50px 50px 50px 50px;
    color: white;
    text-align: center;
}
.sewa-mobil button{
    color: white;
    background-color: #5CB85F;
    border-radius: 3px;
    border-color: #5CB85F;
    border-style: none;
    padding: 5px;
}
#faq{
    display: inline-flex;
    margin-left: 0px;
}
.faq{
    padding: 0;
}
.faq-accordion{
    padding: 0;
}
.accordion-item{
    border: 1px #D0D0D0;
    border-top: 1px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.con-footer{
    display: inline-flex;
    margin-left: 100px !important;
}

.sosmed img{
    padding-right: 10px;
}
.area-navbar-footer ul li{
    display: block;
    list-style: none;
    padding: 0 0 20px 0;
}
.area-navbar-footer ul li a{
    color: black;
    text-decoration: none;
}
.foto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 769px) and (max-width: 1441px){
    .off-canvas-navbar{
        display: none !important;
    }
}

@media only screen and (max-width: 769px){
    .area-navbar{
        display: none;
    }
    .con-footer{
        margin-left: 40px !important;
    }
    
}

@media only screen and (max-width: 426px){
    .off-canvas-navbar{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #offcanvasRightLabel{
        padding: 0 20px;
    }
    .ro-logo{
        padding-left: 10px !important;
    }
    .area-navbar{
        display: none;
    }
    .con-home{
        padding-left: 15px !important;
    }
    .area-heading h3{
        font-size: 29pt ;
    }
    .teks-services{
        padding: 50px 20px 0 20px !important;
    }
    .teks-services h4{
        font-size: 16pt;
    }
    .teks-services p{
        font-size: 10pt;
    }
    .teks-why-us{
    padding: 50px 0 5px 0 !important;
    text-align: center !important;
    }
    #testimonial{
        padding-top: 50px !important;
    }
    .crsl-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-carousel{
        padding-top: 20px !important;
    }
    .con-rent{
        padding: 20px 20px 0 20px !important;
    }
    #faq{
        display: block;
        padding-top: 50px !important;
        margin-left: 0;
    }
    .faq{
        text-align: center !important;
        padding: 0 !important;
    }
    .faq h4{
        font-size: 16pt;
    }
    .faq p{
        font-size: 10pt;
    }
    .faq-accordion{
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .con-footer{
        display: block;
        margin-left: 0 !important;
        margin-bottom: 50px !important;
        padding: 50px 20px 0 20px !important;
    } 

    .area-navbar-footer nav ul{
        padding-left: 0;
    }
    .sosmed{
        padding-bottom: 10px;
    }

}

